@using Orchard.ContentManagement;

@{             
    var blogPost = Model.ContentItem;
    var title = blogPost.TitlePart.Title;

    if (!string.IsNullOrEmpty(title))
    {
        Layout.Title = title;
    }
    
    

}
<div class="blogpost">
    <div class="post-header">
        <h3 class="post-title"><a href="@Url.ItemDisplayUrl((IContent)blogPost)">@title</a></h3>
        <div class="post-meta">

            <div class="post-meta-date pull-left">
                <i class="fa fa-calendar"></i>
                @blogPost.CommonPart.CreatedUtc.ToString("MMMM d, yyyy")
            </div>

            @*            
            <div class="post-meta-author pull-left">
                <i class="fa fa-user"></i>
                <a href="/Search?q=@blogPost.CommonPart.Owner.UserName">@blogPost.CommonPart.Owner.UserName</a>
            </div>
            *@
            <div class="post-comments pull-left">
                <i class="fa fa-comments"></i>
                @Display(Model.CommentsCount)
            </div>

            <div class="taxonomy-field tags pull-left">
                <i class="fa fa-tags"></i>                
                @Display(Model.Terms)
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="post-content">
        @Display(Model.Summary)
    </div>
</div>
@Display(Model.Footer)