@using Orchard.Mvc.Html;
@using Orchard.UI.Resources;
@{
    RegisterLink(new LinkEntry { Type = "image/x-icon", Rel = "shortcut icon", Href = Url.Content("~/Themes/SouleDesigns/Content/Images/Shared/favicon.ico") });

    Style.Require("SouleFonts");
    Style.Include("~/Themes/SouleDesigns/Content/Styles/Bootstrap/bootstrap.min.css");
    Style.Include("~/Themes/SouleDesigns/Content/Styles/Bootstrap/bootstrap-theme.min.css");
    Style.Include("~/Themes/SouleDesigns/Content/Styles/Shared/font-awesome.min.css");
    Style.Include("~/Themes/SouleDesigns/Content/Styles/Shared/main.css");

    Script.Require("jQuery");
    //Script.Include("bootstrap.js").AtFoot();
    //Script.Include("holder.js").AtFoot();
    //Script.Include("shared.js").AtFoot();
    //Script.Include("html5shiv.js").AtFoot().UseCondition("lt IE 9");
    //Script.Include("respond.min.js").AtFoot().UseCondition("lt IE 9");

    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
}
<!DOCTYPE html>  
<!--[if lt IE 7]>
    <html lang="@WorkContext.CurrentCulture" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 static @Html.ClassForPage()">
<![endif]-->
<!--[if IE 7]>
    <html lang="@WorkContext.CurrentCulture" class="no-js lt-ie10 lt-ie9 lt-ie8 static @Html.ClassForPage()">
<![endif]-->
<!--[if IE 8]>
    <html lang="@WorkContext.CurrentCulture" class="no-js lt-ie10 lt-ie9 static @Html.ClassForPage()">
<![endif]-->
<!--[if IE 9]>
    <html lang="@WorkContext.CurrentCulture" class="no-js lt-ie10 static @Html.ClassForPage()">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="@WorkContext.CurrentCulture" class="no-js static @Html.ClassForPage() theme-@WorkContext.CurrentTheme.Name">
<!--<![endif]-->
<head>    
    @*<link rel="apple-touch-icon" href="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/ico/apple-touch-icon.png"))">
    <link rel="apple-touch-icon" sizes="72x72" href="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/ico/apple-touch-icon-72.png"))">
    <link rel="apple-touch-icon" sizes="114x114" href="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/ico/apple-touch-icon-114.png"))">
    <link rel="apple-touch-icon" sizes="144x144" href="@Href(Html.ThemePath(WorkContext.CurrentTheme, "/Content/ico/apple-touch-icon-144.png"))">*@    
    <title>@Html.Title(title, siteName)</title>
    @*<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Oswald:400,300,700' rel='stylesheet' type='text/css'>*@    
    @Display(Model.Head)
</head>
<body>    
    @Display(Model.Body)
    @Display(Model.Tail)
</body>
</html>