@using Orchard.Utility.Extensions;
@using Orchard.ContentManagement;
@{
    var portfolioPiece = Model.ContentItem;
    List<MediaPart> mediaParts = portfolioPiece.PortfolioPiece.PieceMedia.MediaParts;
    MediaPart thumb = ((List<MediaPart>)portfolioPiece.PortfolioPiece.ThumbnailImage.MediaParts).FirstOrDefault();
    if (thumb != null)
    {
        mediaParts.Insert(0, thumb);
    }
    var mediaPart = mediaParts.First();    
}
<div class="portfolio-piece summary">
    <div class="row">
        <div class="piece-image col-md-4">
            <a href="@Url.ItemDisplayUrl((IContent)portfolioPiece)"><img src="@Display.ResizeMediaUrl(Width: 350, Height: 350, Mode: "crop", Alignment: "middlecenter", Path: mediaPart.MediaUrl)" /></a>
        </div>
        <div class="col-md-8">
            <div class="piece-header">
                <h3 class="piece-title"><a href="@Url.ItemDisplayUrl((IContent)portfolioPiece)">@portfolioPiece.TitlePart.Title</a></h3>                                
            </div>
            <div class="post-content">
                @Display(Model.Content)
            </div>
        </div>
    </div>
</div>